h1{
    text-align: center;
    }
h2{
    background-color: aqua;
    color: blue;
}
#exp, table, th, td {
    margin: 50XP;
    padding: 5xp;
}

table {
    border-collapse:separate;
    width: 70%;
    margin: 5px auto;
}

th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
#obj{
    text-align: justify;
}